<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <div class="row justify-content-center" style="margin-top: 8rem">
        <div class="col-6">
            <div>
                <h3>Добавление статьи</h3>
            </div>
            <div>
                <form method="post" enctype="multipart/form-data" style="margin-top: 3rem">
                    <h6>Заголовок</h6>
                    <input class="form-control" type="text" name="title">
                    <div class="form-group mt-3">
                        <h6>Описание</h6>
                        <textarea class="form-control" name="textMessage" rows="6"></textarea>
                    </div>
                    <h6>Прикрепить изображение</h6>
                    <div class="row justify-content-center">

                        <label class="imagebutton">
                            <img img src="/static/addImage.png" style=" height: 3rem; margin-right: 12rem"/>
                            <input type="file" name="file" hidden/>
                        </label>

                        <div>
                            <a class="btn  btn-primary btn-lg" role="button" href="/"
                               style="background-color: #8B8B8B; border-color: #8B8B8B;">Отменить</a>
                        </div>
                        <div>
                            <button type="submit" data-toggle="modal" data-target="#exampleModalCenter" class="btn btn-primary btn-info btn-lg ml-3"
                                    style="background-color: #FF4736; border-color: #FF4736;">Добавить
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
</body>
</html>